* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #f8dac8;
    font-family: Arial;
    cursor: context-menu;
}

.main_color {
    color: #A6B6CF;
}

.size-20 {
    font-size: 20px !important;
}

.text-index {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.margin-left-2vw {
    margin-left: 2vw;
}

.viewall {
    color: #682CEE;
    margin-right: 4vw;
}

.viewall:hover {
    cursor: pointer;
    color: #ac85ff;
}

.left {
    background-color: #FFFFFF;
    border-radius: 3vh 0 0 3vh;
    flex-grow: 2;
    width: 18%;
    min-height: 100vh;
    min-width: 211px;
}

.left_logo {
    height: 15vh;
}

.left_logo img {
    height: 6vh;
    margin: 6vh 3vw;
}

.left_nav .index {
    margin-top: 3vh;
}

.left_nav p.index,
.left_nav p.nav_element {
    margin: 1vh auto;
    width: 85%;
    min-width: 228px;
    padding: 1vh 2vw;
    border-radius: 17px;
    height: auto;
}

.nav_ele-number {
    background-color: #FF672C;
    color: white;
    border-radius: 5px;
    width: 20px;
    padding: 2px 0px;
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.left_nav .nav_element i {
    padding-right: 2vw;
    font-weight: bolder;
}

.left_nav .nav_element:hover {
    background-color: #efefefb9;
    color: black;
    cursor: pointer;
}

.left_nav .nav_element:hover i {
    color: #6427F1;
}

.left_user {
    display: flex;
    margin: 9vh auto 0px;
    background-color: #F5F9FC;
    width: 80%;
    padding: 1vh 1vw;
    border-radius: 17px;
    align-items: center;
}

.left_user img {
    padding-right: 1vh;
}

.left_user .user_infor .user_name {
    font-weight: 600;
}

.left_user .user_infor .user_author {
    color: gray;
}

.main {
    background-color: #e4e9ff;
    width: 55%;
    min-height: 100vh;
    padding: 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 833px;
    justify-content: space-around;
}

.main .main_index {
    color: black;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main .main_index button {
    padding: 10px;
    background-color: #6d35ee;
    border-radius: 10px;
    border: none;
    color: white;
}

.main .main_index button:hover {
    background-color: #1900ff;
    box-shadow: 0px 2px 20px 2px #a89eff;
    cursor: pointer;
}

.main .main_portfolio {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

.main .main_portfolio .portfolio_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 2vh;
}

.main_portfolio .portfolio_img {
    margin-top: 2vh;
}

.main_portfolio .portfolio_img img {
    min-width: 210px;
    width: 12vw;
}

.portfolio_img tr td {
    min-width: 210px;
    width: 12vw;
    padding: 0px 3vw 1vh 0px;
}

.portfolio_img tr:last-child {
    font-size: 15px;
    font-weight: 600;
}

.main_portfolio .portfolio_skill-index {
    margin-top: 2vh;
}

.main_portfolio .portfolio_list-skills {
    margin-bottom: 2vh;
}

.main_portfolio .portfolio_list-skills p {
    display: inline-block;
    padding: 7px 15px;
    background-color: #dbdddf;
    border-radius: 10px;
    margin: 5px 10px 5px 0px;
    color: #6A7587;
}

.main_portfolio .portfolio_list-skills p:hover {
    background-color: #a1a1a1;
    color: #3d3d3d;
    cursor: pointer;
}

.main .main_recomment {
    margin-right: 10%;
    width: 45%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.main .main_recomment .recomment_people {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main_recomment .recomment_people-infor {
    max-width: 80%;
}

.main_recomment .recomment_people-infor p:first-child {
    font-weight: 700;
}

.main .main_recomment>p {
    margin-left: 20%;
}

.recomment_people-infor p:last-child {
    color: grey
}

.main .main_documents {
    width: 45%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .main_documents .main_documents-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_documents-file i:first-child {
    color: #ff4800;
    background-color: #FFE8E0;
    padding: 15px;
    border-radius: 10px;
}

.main_documents-file i:last-child {
    color: #BDCBDE;
    font-size: 30px;
    margin-right: 30px;
}

.main_documents-file i:last-child:hover {
    color: #474747;
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.main_documents-file .file-infor {
    width: 55%;
}

.main_documents-file .file-infor p:first-child {
    font-weight: 700;
}

.right {
    background-color: #e4e9ff;
    width: 28%;
    border-radius: 0 3vh 3vh 0;
    min-height: 100vh;
    padding: 2vh 3vw 0px 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right .right_infor {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 2vw;
}

.right_infor .infor_index {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right_infor .infor_index .infor_name {
    padding: 2vh 3vw;
}

.infor_index .infor_name p:first-child {
    font-weight: 800;
}

.right_infor .infor_content {
    font-size: 15px;
    margin-bottom: 1vh;
}

.right_infor .infor_icon i {
    color: #ff4800;
    background-color: #FFE8E0;
    padding: 15px;
    border-radius: 10px;
    margin-right: 1vw;
}

.right_infor .infor_icon i:hover {
    background-color: #ff4800;
    color: #FFE8E0;
    cursor: pointer;
}

.right .right_experience {
    padding: 2vh 2vw;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.experience-1 .company {
    font-weight: 700;
}

.experience-1 .timeAndPlace {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.experience-1 .content .content_job {
    font-weight: 500;
    margin-top: 1.5vh;
}